<section id='editBlog' data-id='{{post.id}}'>
  <div>
    <h2 class='sectionHead'>Edit Blog</h2>
  </div>
  <form class='flex form edit-blog-form'>
    <div class='formInput flex'>
      <label for='title' class='form-label'>{{post.title}}</label>
      <input type='text' id='blogTitle' />
      <label for='content' class='form-label'>Content</label>
      <textarea
        name='blogContent'
        id='blogContent'
        cols='80'
        rows='10'
      >{{post.content}}</textarea>
    </div>
    <button
      type='submit'
      class='btn btn-primary'
      id='editBlogSave'
    >Save</button>
  </form>
</section>

<script src='/js/post.js'></script>